.MuiDataGrid-footerContainer {
  height: 20px !important;
  min-height: 35px !important;
}

.header-theme {
  color: white;
}

.MuiDataGrid-root .MuiDataGrid-sortIcon {
  color: white !important;
}

.MuiDataGrid-root .MuiDataGrid-container--top [role=row]{
  background: black !important;
}