.custom-selects__menu {
  margin-top: 0 !important;
  max-height: 200px !important;
}

.custom-selects__menu-list {
  max-height: 104px !important;
  padding: 0 !important;
}

.custom-selects__option,
.custom-selects__single-value,
.custom-selects__placeholder {
  font-size: 12px !important;
}

.custom-selects__option {
  background-color: transparent !important;
  cursor: pointer !important;
}

.custom-selects__option--is-focused{
  background-color: #ccc !important;
  color: black !important;
}
.custom-selects__option--is-selected {
  color: black !important;
  background-color: transparent !important;
}

.custom-selects__control,
.custom-selects__control--is-focused {
  border-color: #000 !important;
  box-shadow: none !important;
}

.custom-select-section {
  width: 100% !important; 
} 