.header-image {
    width: 40px;
    height: auto;
  }

  .errorMessage{
    color: red;
    font-size: 12px;
  }
  
  .bg-Image{
    background-image: url("../../Images/opsriskbg_adobe_express.svg");
  }