.Toastify__close-button--light {
    color: white !important;
    opacity: 1 !important;
}

.custom-toast {
    background-color: black !important;
    color: white !important;
}

.MuiDataGrid-scrollbar{
    display: block !important;
}